[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose.git
[submodule "themes/Blonde"]
	path = themes/Blonde
	url = https://github.com/opera7133/Blonde
